<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="menu">
    <div class="wrap">
        <img src="{% static 'rezume/i.webp' %}" height="100" alt="картинка" align="left">
        <div class="wrap">
            <button ><pre> <a href="{% url 'index' %}">Где работал</a> </pre></button>
            <button ><pre> <a href="{% url 'acad' %}">Системы САПР</a> </pre></button>
            <button ><pre> <a href="{% url 'arbeit' %}">Мои проекты</a> </pre></button>
            <button ><pre> <a href="{% url 'programm' %}">Mои программы</a> </pre></button>
        </div>

    </div>
</div>
<div class="content">
    <div >
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>